/*Стат шапка*/
header {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: auto;
  color: white;
  font-weight: 700;
  top: 0%; 
  display: flex;
  justify-content: start;
  z-index: 999;
}
/*Движ шапка*/
.Shapka {
  overflow: hidden;
  height: 80px;
  position: fixed;
}
.Dviz_shapka {
position: fixed;
left: 124px;
margin: 12px 0px;
}
.LineOrangeX{
  background-color: #FFC34F;
  width: 60px;
  height: 20px;
  right: 0px;
  top:0;
  z-index: 999;
}
.LineOrangeY{
  background-color: #FFC34F;
  width: 20px;
  height: 80px;
  right: 0px;
  top:0;
  z-index: 999;
}
.LineBLackX{
  background-color: black;
  width: 52.5px;
  height: 4px;
  right: 7.5px;
  top: 7.5px;
  z-index: 1000;
}
.LineBlackY{
  background-color: black;
  width: 4px;
  height: 69.5px;
  right: 7.5px;
  top:10.5px;
  z-index: 1000;
}
.dropbtn {
  background-color: black;
  padding: 30px;
  border: none;
  width: 80px;
  height: 80px;
}
.dropbtn .first,
.dropbtn .second,
.dropbtn .third,
.dropbtn .fourth,
.dropbtn .fifth,
.dropbtn .sixth {
position: absolute;
top: 35px; margin-top: 0px;
left: 30px; margin-left: -16px;
width: 50px;
height: 8px;
background-color: #FFC34F;
}

.dropbtn .second {
transform: translateY(-16px);
}
.dropbtn .third {
transform: translateY(16px);
}

.dropbtn .fourth {
  transform: translateY(19px);
 height: 2px;
 background-color: #000;
}
.dropbtn .fifth {
  transform: translateY(3px);
  height: 2px;
 background-color: #000;
}
.dropbtn .sixth {
  transform: translateY(-13px);
  height: 2px;
 background-color: #000;
}

.dropup {
position: relative;
display: inline-block;
}

.dropup-content {
display: none;
position: absolute;
background-color: #616161;
text-align: start;
width: 192px;
bottom: 50px;
z-index: 999;
top: 80px;
border: #FFC34F 20px;
}

.dropup-content .A {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
background-color: #616161;
font-size: 32px;
font-weight: 500;
}

.dropup-content .A:hover {
  background-color: #ccc
}

.dropup:hover .dropup-content {
display: block;
}

.dropup:hover .dropbtn {
background-color: #666666;
}

section {
height: 100vh;
}

.news { 
  overflow: hidden;
  height: 641px;
  max-width:100% !important;
  background-size: cover;
}

.Text_newsA {
  position: relative;
  top: -80px;
  margin-left: 9.2vw;
  font-size: 48px;
  font-weight: 700;
  z-index: 20;
  
}
.Text_newsB {
  position: relative;
  top: -50px;
  margin-left: 9.2vw;
  font-size: 32px;
  font-weight: 500;
  z-index: 20;
  
}

.zakazat {
  top: 540px;
  border: none;
  min-width: 160px;
  width: 17.7vw;
  height: 70px;
  background-color: #616161;
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin: 0px 0px 0px 9.2vw;
  padding: 2px;
  text-align: center;
  content: " ";
  position: relative;
}
.vstupit {
  top: 470px;
  left: 35vw;
  border: none;
  min-width: 160px;
  width: 17.7vw;
  height: 70px;
  background-color: black;
  font-size: 32px;
  font-weight: 700;
  color: #FFC34F;
  margin: 0px 0vw 0px 9.2vw;
  padding: 2px;
  text-align: center;
  content: " ";
  position: relative;
}
.zakazat:hover {
  background-color: #000;
}
.vstupit:hover {
  background-color: #ffc34f ;
  color: #000;
}
.Text_newsA {
  display: flex;
  justify-self: start;
  z-index: 20;
  margin-top: 100px;

}
.lineOrangeBig{
  height: 80px;
  width:100% ;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: #ffc34f ;
  position: sticky;
  top:20px;
}

.LineBlack1 {
  width: 100%;
  height: 72.5px;
  background-color: #000;
  z-index: 1;
  padding-left:4px ;
  padding-right: 4px;
}
.lineOrange1{
  background-color: #ffc34f;
  width: 100%;
  height: 68px;
  z-index: 2;
  padding-left: 8.5px;
  padding-right: 8.5px;
}
.lineBLack2{
  background-color: #000;
  width: 100%;
  height: 60px;
}
.gallery {
padding: 32px 7.1vw 32px 7.1vw;
height: auto;
}
.LINEFORS1 {
  background-color: #ffc34f;
  height: 8px;
  width: 100%;
}
.LINEFORS1MIN{
background-color: #000
; height: 4px;
width: 100%;
}

.gallery_zagolovok {
  display: flex;
  justify-content: center;
  color: black;
  padding: 15vh 9.2vw 0vh 9.2vw;
  font-size: 48px;
  font-weight: 700;
}

.block {
  overflow: hidden;
  margin: 20px 20px 60px 20px;
  padding: 10px;
  min-width: 272px;
  min-height: 400px;
  border-radius: 0px;
  text-align: center;
  content: " ";
  background-color: #616161;
  color: #f1f1f1;
}
.Photo{
  max-width:100% !important;
  width: 100%;
  height:auto;
}
.text-2{
  font-size: 32px;
  font-weight: 500;
}
.text-3{
  font-size: 18px;
  font-weight: 300;

}

.info {
background-color:#616161;
padding: 15vh 9.2vw 23vh 9.2vw;
height: 100%;
color: white;
}

.info_zagolovok {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.information{
  font-size: 32px;
  font-weight: 500;
}
.contacts {
  background-color: black;
  height: 100%;
  padding: 40px 140px 40px 140px;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.telephonSVG {
  margin-right: 13px;
  margin-bottom: 20px;
}
#Mail {
  
  margin-bottom: 20px;
}
.mailSVG {
  margin-right: 13px;
  margin-bottom: 20px;
}

#YearsOfLife {
  margin-bottom: 20px;
}
.TG {
  border: none;
  background-color: #000;
  margin-bottom: 20px;
}
.VK {
  border: none;
  background-color: #000;
  margin-bottom: 20px;
}
.DS {
  border: none;
  background-color: #000;
  margin-bottom: 20px;
}
.YT {
  border: none;
  background-color: #000;
  margin-bottom: 20px;
}
#Version {
  border: solid #ffc34f;
  border-radius: 4px;
  padding: 5px;
}
/*Скип*/